/* CSS Document */
BODY {
	FONT-SIZE: 14px; COLOR: black; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
	padding:0px;
	margin:0px;
}

A {
	FONT-SIZE: 13px; COLOR: #003; FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif; TEXT-DECORATION: none
}

A:hover {
	COLOR: #FFCE15;
}

.top_text
	{
		font-family:Tahoma;
		font-size:14px;
		line-height:16px;
		color:#FFCE15;
	}
a.top_text{
		font-family:Tahoma;
		font-size:14px;
		line-height:16px;
		color:#FFCE15;
		text-decoration:none
		
			
			}	
a.top_text:hover{
				text-decoration:underline;
				color:#FFFFFF;}
	


.news_text
	{
	FONT-FAMILY: Arial, Verdana, Helvetica, sans-serif;
	color:#595959;
	font-size:12px;
	
	}
	

input.btn{
   color:#FFFFFF;
   font-family:'trebuchet ms',helvetica,sans-serif;
   font-size:10px;
   font-weight:bold;
   background-color:#017AC1;
   border:1px solid;
   border-top-color:#FF9A31;
   border-left-color:#FF9A31;
   border-right-color:#FF9A31;
   border-bottom-color:#FF9A31;}


INPUT.TEXTS{ 
  font-family:Verdana, Arial, Helvetica, sans-serif; 
  font-size:8pt; 
  font-weight:normal; 
 
  border-color:#29849D ;
  border-style:solid; 
  border-width:1px; 
  color:#666666;
}	


.ebul_cbindex, .ebul_cbindex ul {
  background-color: #2A78C3;
  border: 1px solid #2A78C3;
  display: block;
  font-size: 1px;
  margin: 0px;
  overflow: auto;
  padding: 0px;
  position: absolute;
  visibility: hidden;
}

.ebul_cbindex_shadow {
  background-color: #777777;
  display: block;
  margin: 0px;
  overflow: hidden;
  position: absolute;
  visibility: hidden;
}

.ebul_cbindex table {
  border-collapse: separate;
}

.ebul_cbindex tr {
  background-color: #2A78C3;
  cursor: pointer;
  font-size: 1px;
}

.ebul_cbindex td {
  border: 1px solid #2A78C3;
  padding: 3px;
  text-align: left;
}

.ebul_cbindex td a {
  color: #FFFFFF;
  font-family: "Tahoma", serif;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

.ebul_cbindex tr.hot, .ebul_cbindex tr.expanded {
  background-color: #FFCC00;
}

.ebul_cbindex tr.hot td, .ebul_cbindex tr.expanded td {
  border-color: #FFCC00;
}
.ebul_cbindex tr.hot a, .ebul_cbindex tr.expanded a {
  color: #2A78C3;
  font-family: "Tahoma", serif;
  font-size: 11px;
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
}

ul.ebul_cbindex {
  position: absolute;
  visibility: hidden;
}                               

.cbindexebul_menulist .spaced_li {
  padding: 0px 4px 0px 0px;
}

.cbindexebul_menulist li {
  list-style-type: none;
  float: left;
}

.cbindexebul_menulist img {
  vertical-align: bottom;
  
}

.cbindexebul_menulist {
  margin: 0px;
  padding: 0px;
  line-height: 0px;
}

table.tblstyle
{ /*width: 580px;
background-color: #fafafa;
border: 1px #000000 solid;*/
border-collapse: collapse;
border-spacing: 0px; }


td.tdstyle
{ border-bottom: 1px #999999 dotted;
text-align: left;
font-family: Verdana, sans-serif, Arial;
font-weight: normal;
/*font-size: .7em;*/
color: brown;
padding-top: 4px;
padding-bottom: 4px;
padding-left: 8px;
padding-right: 0px; }



	#whats-happening {
		position: relative;
		float: left;
		width: 180px;
		height: 130px;
		margin-left: 2px;
		background-color: #D8EBF5;
		border-color:#FFFFFF;
		border-bottom-width:thin;
	}

	

	#whats-happening h2{
		height: 22px;
		margin: 0;
		font-size: 11px;
		text-transform: uppercase;
		color: #FFF;
		padding: 6px 10px 0 10px;
	}

	

	#whats-happening-scroller {
		overflow: hidden;
		margin-top: 10px;
		height: 120px;
		padding-left: 5px;
		padding-right: 5px;
	}


	#whats-happening .up {
		position: absolute;
		top: 40px;
		right: 10px;
	}

	#whats-happening .down {
		position: absolute;
		bottom: 10px;
		right: 10px;
	}
	#divtitle{
	       margin:15px; 
		   margin-top:0px; 
		   margin-bottom:0px;
		   font-size:12px; 
		   background-color:#017AC1; 
		   color:#FFFFFF; 
		   font-weight:bold
	}
	#divpara{
	margin:15px; 
	font-size:12px;
	}


